<div class="panel-group">
	<div class="panel panel-default panel-faq" style="border: none;">
		<div class="panel-body"
			style="margin-top: 20px;">
			<table class="table table-sm table-inverse">
				<thead>
					<tr>
						<th>Order Date</th>
						<th>Order Number</th>
						<th>Total</th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let order of orderList">
						<td><a class="pointer" (click)="onDisplayOrder(order)"><span>{{order.orderDate}}</span></a>
						</td>
						<td>{{order.id}}</td>
						<td>{{order.orderTotal}}</td>
						<td>{{order.orderStatus}}</td>
					</tr>
				</tbody>
			</table>
			<div *ngIf="displayOrderDetail">
				<div class="row">
					<div class="col-xs-12">
						<div class="text-center" style="margin-left: 300px;">
							<h2>
								Order Detail for purchase #<span>{{order.id}}</span>
							</h2>
							<hr/>
						</div>
						<div class="row">
							<div class="col-xs-4 orderSummary">
								<div class="panel panel-default height">
									<div class="panel-heading">
										<strong>Billing Details</strong>
									</div>
									<div class="panel-body">
										<span>{{order.billingAddress.billingAddressName}}</span> <br />
										<span>{{order.billingAddress.billingAddressStreet1}}
											{{order.billingAddress.billingAddressStreet2}}</span> <br /> <span>{{order.billingAddress.billingAddressCity}}</span>
										<br /> <span>{{order.billingAddress.billingAddressState}}</span>
										<br /> <span>{{order.billingAddress.billingAddressZipcode}}</span>
										<br />
									</div>
								</div>
							</div>
							<div class="col-xs-4 orderSummary">
								<div class="panel panel-default height">
									<div class="panel-heading">
										<strong>Payment Information</strong>
									</div>
									<div class="panel-body">
										<span>{{order.payment.holderName}}</span> <br /> Visa <br />
										<span>{{order.payment.cardNumber}}</span> <br /> <span>Exp
											Date:</span> <span>{{order.payment.expiryMonth}}</span>/<span>{{order.payment.expiryYear}}</span>
										<br />
									</div>
								</div>
							</div>
							<div class="col-xs-4" style="margin-left: 70px;">
								<div class="panel panel-default height">
									<div class="panel-heading">
										<strong>Shipping Address</strong>
									</div>
									<div class="panel-body">
										<span>{{order.shippingAddress.shippingAddressName}}</span> <br />
										<span>{{order.shippingAddress.shippingAddressStreet1}}'
											'{{order.shippingAddress.shippingAddressStreet2}}</span> <br /> <span>{{order.shippingAddress.shippingAddressCity}}</span>
										<br /> <span>{{order.shippingAddress.shippingAddressState}}</span>
										<br /> <span>{{order.shippingAddress.shippingAddressZipcode}}</span>
										<br />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="text-center">
									<strong>Order summary</strong>
								</h3>
							</div>
							<div class="panel-body">
								<div class="table-responsive">
									<table class="table table-condensed">
										<thead>
											<tr>
												<td><strong>Item Name</strong></td>
												<td class="text-center"><strong>Item Price</strong></td>
												<td class="text-center"><strong>Item Quantity</strong></td>
												<td class="text-right"><strong>Total</strong></td>
											</tr>
										</thead>
										<tbody>
											<tr *ngFor="let cartItem of cartItemList">
												<td>{{cartItem.book.title}}</td>
												<td class="text-center">{{cartItem.book.ourPrice}}</td>
												<td class="text-center">{{cartItem.qty}}</td>
												<td class="text-right">{{cartItem.subtotal}}</td>
											</tr>
											<tr>
												<td class="highrow"></td>
												<td class="highrow"></td>
												<td class="highrow text-center"><strong>Subtotal</strong></td>
												<td class="highrow text-right">{{order.orderTotal}}</td>
											</tr>
											<tr>
												<td class="emptyrow"></td>
												<td class="emptyrow"></td>
												<td class="emptyrow text-center"><strong>Tax</strong></td>
												<td class="emptyrow text-right">{{order.orderTotal*0.06}}
												</td>
											</tr>
											<tr>
												<td class="emptyrow"><i class="fa fa-barcode iconbig"></i></td>
												<td class="emptyrow"></td>
												<td class="emptyrow text-center"><strong>Total</strong>
												</td>
												<td class="emptyrow text-right">{{order.orderTotal*1.06}}
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>